#{{ record.reservationColour }}

<!-- NOTE: Adding empty span here with 6 spaces to show colour -->
<span style="   margin-left: 10px;
                background-color: #{{ record.reservationColour }};
                border: 3px solid #{{ record.reservationBorderColour }}">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>