<section id="DateRangePicker">
	<span class="interaction-label">
		{{ t 'partial.plotly-interactions-partial.daterange-label' }}
	</span>
	
	<div id="DivDateRange">
    	<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
    	<span></span> 
	   	<b class="caret"></b>
	</div>		

	<span id="SpanSelectedDateRange" class="label label-info"></span>
</section>